body {
    background: lightgray;
}
h1 {
    color: blue;
}

p {
    color: grey;
}

.hotpink-header{
    color:hotpink;
}

#top{
    background: #026450;
}

nav a{
    color: #57c9b2;
}

.box{
    background: rgba(255.255.255.0.4);
}